<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DM</title>
</head>
<body>
    <h4>Chats logs</h4>
    <textarea id="log" cols="100" rows="70"></textarea><br>
    <input id="msg" type="text" size="100" placeeholder="your chats goes here..."><br>
    <input id="submit" type="button" value="send">
    </div>
    {{room_name|json_script:"roomname"}}
    <script>
        const roomName=json.parse
</body>
</html>